body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    }
    
    header {
    background-color: #98caff;
    color: white;
    padding: 20px;
    text-align: center;
    }
    
    header nav a{
    color: white;
    text-decoration:none;
    margin: 0 15px;
    font-weight: bold;
    }
    
    .apresentação {
    background-color:white;
    padding: 30px;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    }
    
    .apresentação h1 {
    color: #494949;
    margin-bottom: 10px;
    }
    
    .apresentação p {
    color: #494949;
    font-size: 18px; 
    }